name: Microservices CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build Product Service
        run: |
          cd Product-service/Product-service/Product-service
          mvn clean verify

      - name: Build Order Service
        run: |
          cd order-service/order-service/order-service
          mvn clean verify

      - name: Upload Test Reports
        uses: actions/upload-artifact@v4
        with:
          name: test-reports
          path: |
            Product-service/Product-service/Product-service/target/surefire-reports
            order-service/order-service/order-service/target/surefire-reports

  docker-build:
    runs-on: ubuntu-latest
    needs: build-and-test

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker images
        run: docker compose build

      - name: Start Services
        run: docker compose up -d

      - name: Wait for services
        run: sleep 30

      - name: Integration Test - Health Check Product
        run: curl -f http://localhost:8081/actuator/health

      - name: Integration Test - Health Check Order
        run: curl -f http://localhost:8082/actuator/health

      - name: Stop Services
        run: docker compose down
